.container {
  display: flex;
}

.image {
  border-radius: 25px;
}

.info {
  margin-left: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.title {
  max-width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date_type {
  color: lightgray;
}

.decor {
  height: fit-content;
  align-self: center;
  transform: rotate(90deg);
  letter-spacing: 1px;
}
