.container {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 1, 34);
}

.main {
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  max-width: 1080px;
  color: white;
  padding: 4px 14px;
  font-size: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: gray;
}

.title span:first-child {
  color: yellow;
  font-size: 64px;
  letter-spacing: 12px;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  font-family: "Monastic", sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 100px 0 40px;
  line-height: 1.15;
  font-size: 24px;
  text-align: center;
  letter-spacing: 8px;
}

.releases {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  max-width: 1080px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: white;
  overflow: hidden;
  flex: 1;
}

.decor {
  margin-bottom: 36px;
  margin-top: 12px;
  height: 6px;
  width: 30px;
  border-radius: 24px;
  background: #ebebeb;
  align-self: center;
}

.albums_container {
  height: 200px;
  overflow: hidden;
}

.albums {
  padding-bottom: 20px;
  display: flex;
  column-gap: 14px;
  overflow-y: auto;
}

.albums > :first-child {
  padding-left: 24px;
}

.albums > :last-child {
  padding-right: 24px;
}

.albums > div {
  flex-shrink: 0;
}

.singles {
  margin-left: 24px;
  margin-top: 20px;
}

.singles h2 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 900;
}

.singles_list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

@media only screen and (max-width: 1080px) {
  .releases {
    max-width: 100vw;
  }
}
